@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Play:wght@700&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #931621;
  --secondary-color: #28464b;
  --accent1-color: #326771;
  --accent2-color: #2c8c99;
  --accent3-color: #42d9c8;

  /* change the values below to your chosen font(s) */
  --heading-font: "Play", sans-serif;
  --paragraph-font: "Montserrat", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #28464b; /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #28464b; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #326771;
  --nav-link-color: #326771;
  --nav-background-color: #dad7cd;
  --nav-hover-link-color: #42d9c8;
  --nav-hover-background-color: #326771;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

p,
span {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

body {
  margin: 0;
  background-color: #e8e7e3;
  background-image: url("../images/grid-background.webp");
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

footer {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #326771;
  margin-top: 10px;
  border-top: solid #28464b 5px;
}

.footer-rights-container {
  grid-column: 1 / 3;
  margin-left: 20px;
}

.footer-pokesite-container {
  grid-column: 4 / 6;
}

.footer-siteplan-container {
  grid-column: 6 / 8;
}

.footer-siteplan-container a,
a:visited {
  color: black;
}

.footer-facebook-container {
  grid-column: 8 / 9;
}

.footer-instagram-container {
  grid-column: 10 / 11;
}

.footer-twitter-container {
  grid-column: 12 / 13;
}

.footer-img-containers {
  width: 70px;
  padding-left: 1px;
  padding-top: 1px;
  background-color: #28464b;
}

.footer-text {
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.nav-container {
  padding: 20px;
}

.header-cell {
  grid-row-start: 1;
  z-index: 2;
}

.nav-text {
  color: white;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.containers-center-text {
  text-align: center;
}

.text-btn-container {
  padding: 15px;
  border-radius: 8px;
  background-color: #326771;
  color: white;
}

.btn-links {
  color: white;
}

.text-btn-container:hover {
  padding: 15px;
  border-radius: 8px;
  background-color: #2c8c99;
}

.home-card-container {
  width: 250px;
  margin-top: 20px;
}

.home-card-container img {
  width: 100%;
}

#main {
  display: grid;
}

#logo-container {
  width: 100px;
  height: 100px;
  grid-column: 1 / 2;
  background-color: #28464b;
  border-left: solid white 2px;
  border-right: solid white 2px;
}

#inner-logo-container {
  width: 90px;
  height: 90px;
  margin: auto;
  margin-top: 10px;
}

#logo-img {
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
}

#header-home-cell {
  grid-column: 2 / 3;
}

#header-guides-cell {
  grid-column: 3 / 4;
}

#header-formats-cell {
  grid-column: 4 / 5;
}

#horizontal-ribbon {
  background-color: #28464b;
  grid-column: 1 / 7;
  grid-row-start: 1;
  width: 100%;
  height: 70px;
  z-index: 0;
}

#horizontal-ribbon-inner {
  border: 2px solid #e2dfd2;
  grid-column: 1 / 7;
  grid-row-start: 1;
  width: 100%;
  height: 56px;
  z-index: 1;
}

#hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#hero-img-container {
  width: 30%;
  height: auto;
  margin: 100px auto 10px auto;
  grid-column: 1 / 4;
  grid-row-start: 1;
  z-index: 0;
}

#bg-hero-img-container {
  width: 97%;
  height: auto;
  border: 5px solid #326771;
  margin-top: 20px;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  z-index: -1;
}

#hero-msg-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 50px;
  z-index: 3;
  color: black;
}

#hero-msg-container h2,
h3 {
  color: white;
}

#hero-ribbon-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
  width: 400px;
  height: 250px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #326771;
}

#hero-inner-ribbon-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 2;
  width: 370px;
  height: 230px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-right: solid #28464b 5px;
  border-left: solid #28464b 5px;
  border-bottom: solid #28464b 5px;
}

#hero-btn-cotainer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#home-first-section {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  margin-bottom: 50px;
  margin-top: 20px;
}

#home-first-section-header {
  grid-column: 1 / 10;
  grid-row-start: 1;
  margin-left: 30px;
}

#home-first-section-main-image-container {
  grid-column: 2 / 9;
  grid-row-start: 2;
  justify-content: center;
  background-color: #28464b;
  border-radius: 5px;
}

#home-first-section-main-image {
  display: block;
  margin: 20px auto;
  width: 90%;
}

#home-first-section-message-container {
  grid-column: 9 / 14;
  grid-row-start: 2;
  margin-top: 20px;
}

#home-first-section-message-container p {
  font-weight: 500;
  font-size: large;
  color: white;
}

#home-first-section-background {
  grid-column: 2 / 15;
  grid-row-start: 2;
  background-color: #326771;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: -1;
}

#home-first-section-card1 {
  grid-column: 3 / 5;
  grid-row-start: 4;
}

#home-first-section-card2 {
  grid-column: 6 / 8;
  grid-row-start: 4;
}

#home-first-section-card3 {
  grid-column: 9 / 11;
  grid-row-start: 4;
}

#home-first-section-card4 {
  grid-column: 12 / 14;
  grid-row-start: 4;
}

#home-second-section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f4fc;
  border: solid #326771 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 35px 1fr 1fr 1fr 35px;
  grid-template-rows: auto auto 35px;
}

#home-second-section-header {
  grid-column: 2 / 4;
  grid-row-start: 1;
}

#home-second-section-message {
  grid-column: 2 / 4;
  grid-row-start: 2;
  padding-right: 0px;
  padding-left: 10px;
}

#home-second-section-message p {
  font-size: large;
}

#home-second-section-image-container {
  grid-column: 4 / 5;
  grid-row-start: 2;
  padding-top: 10px;
  padding-bottom: 10px;
}

#home-second-section-image-container img {
  display: block;
  margin: auto;
}

#home-second-section-image {
  width: 90%;
}

#home-third-section {
  width: 100%;
  background-color: rgba(147, 22, 33, 0.97);
  border-top: solid #7a121c 10px;
  border-bottom: solid #7a121c 10px;
  display: grid;
  grid-template-columns: 35px 1fr 1fr 1fr 35px;
  margin-top: 50px;
}

#home-third-section h2 {
  grid-column: 2 / 4;
  grid-row-start: 1;
  margin-bottom: 5px;
  color: white;
}

#home-third-section-text-container {
  grid-column: 2 / 4;
  grid-row-start: 2;
  padding-left: 50px;
  color: white;
}

#home-third-section-button-container {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  margin-top: auto;
  margin-bottom: auto;
}

#text-btn-container-thid-section {
  margin-left: auto;
  margin-right: auto;
  padding: 18px;
  background-color: white;
  border: solid #7a121c 3px;
  width: 300px;
  text-align: center;
  color: #7a121c;
}

#text-btn-container-thid-section:hover {
  background-color: #f2f4fc;
  color: black;
}

/*Specific to page guides.html*/

.guides-first-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}


.guides-first-container h2 {
  grid-row: 1 / 2;
}

.guides-second-container {
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr) 100px;
  margin-top: 30px;
}

.guides-content-twocards-container-imgs {
  width: 200px;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}

.guides-content-mini-images-containers {
  width: 150px;
  margin: 10% auto;

}

.guides-content-mini-images-containers  img{
  width: 100%;
}

#guides-content-message1 {
  grid-row: 2 / 3;
  background-color: rgba(147, 22, 33, 0.97);
  /*border: solid 5px #7a121c;*/
  border-top: solid 5px #7a121c;
  border-bottom: solid 5px #7a121c;
  color: white;
}

#guides-content-message2 {
  grid-column: 2 / 7;
  grid-row-start: 1;
  background-color: #326771;
  border: solid 10px #28464b;
  color: white;
  z-index: 1;
}

#guides-content-twocards-container {
  grid-column: 5 / 9;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 20px 1fr 1fr 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 10px #326771;
  border-radius: 30px;
  margin-top: -30px;
  z-index: 0;
  padding-bottom: 40px;
  justify-items: center;
}

#guides-content-twocards-container h3 {
  grid-column: 1 / 10;
  grid-row-start: 1;
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  color: #28464b;
}

#guides-sneasel-img-cont {
  grid-column: 2 / 4;
}

#guides-overquil-img-cont {
  grid-column: 5 / 7;
}

#guides-content-mini-images-container {
  grid-column: 6 / 9;
  grid-row-start: 5;
}

#guides-content-message3 {
  grid-column: 2 / 6;
  grid-row-start: 5;
  background-color: #326771;
  border: solid 10px #28464b;
  color: white;
  margin-top: -40px;
}

#guides-content-message3  h2 {
  color: white;
  margin-left: 20px;
}

#guides-content-message4-container {
  background-color: #f2f4fc;
  border: solid #326771 10px;
  margin-top: 30px;
}

#guides-content-message4-container h3{
  color:#28464b;
  margin-left: 20px;
}

/*Formats page*/

#formats-content-container {
  display: grid;
  grid-template-columns: 5% repeat(20, 1fr) 5%;
}

#formats-content-container-header {
  grid-column: 2 / 22;
  grid-row-start: 1;
  text-align: center;
}

#formats-first-msg-container {
  grid-column: 2 / 12;
  grid-row-start: 2;
  background-color: #326771;
  border: solid 10px #28464b;
  color: white;
}

#formats-first-msg-container p{
  margin: 0
}

.formats-left-container {
  grid-column: 3 / 12;
  z-index: 1;
}

.formats-imgs {
  width: 100%;
  height: auto;
}

.formats-oakevee-container {
  grid-column: 13 / 22;
  grid-row-start: 2;
  padding: 10px;
  background-color: #28464b;
  border: solid 10px #326771;
}

.formats-right-container {
  grid-column: 13 / 21;
  z-index: 1;
}

.formats-mid-header-container {
  grid-column: 1 / 23;
  grid-row-start: 3;
  text-align: center;
  background-color: rgba(147, 22, 33, 0.97);
  border-top: solid 5px #7a121c;
  border-bottom: solid 5px #7a121c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formats-mid-header-container h2{
  color: white;
}

.minioak-left {
  grid-column: 2 / 4;
}

.minioak-right {
  grid-column: 20 / 22;
}

.formats-oak-miniature-container {
  width: 50px;
  height: 100px;
  background-color: #28464b;
  border: solid 10px #326771;
  padding: 10px;
  z-index: 2;
}

.first-oak {
  grid-row: 4;
}

#formats-second-msg-container {
  grid-row-start: 4;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 10px #326771;
  padding-left: 20px;
}

#formats-second-img-container {
  grid-row-start: 4;
  margin-top: 50px;
  align-self: center;
}

.second-oak {
  grid-row-start: 5;
}

#formats-third-msg-container{
  grid-row-start: 5;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 10px #326771;
  padding-right: 20px;
}

#formats-third-img-container {
  grid-row-start: 5;
  margin-top: 50px;
  align-self: center;
}

.third-oak { 
  grid-row-start: 6;
}

#formats-fourth-msg-container {
  grid-row-start: 6;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 10px #326771;
  padding-left: 20px;
}

#formats-fourth-img-container {
  grid-row-start: 6;
  margin-top: 50px;
  align-self: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}